body {
    font-family: 'Roboto', sans-serif;
}

.btn__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.btn {
    outline: none;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 24px;
    color: #333;
    padding: 10px 24px;
    font-weight: bold;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
    transition: all 0.2s;
}
.btn:active {
    background-color: #333;
    color: #fff;
    transition: all 0.2s;
}
.ip__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
}

.card {
    border: 1px solid #333;
    padding: 24px;
    border-radius: 10px;
}

.card__title {
    font-size: 28px;

}

.card__field {
    margin-left: 10px;
    font-size: 20px;
    font-style: italic;
    padding: 4px;
}